<div class="d-flex flex-mb2">
  <div class="d-flex me-auto">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="<%= urlPrefix %>/">抽獎</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= urlPrefix %>/hist">記錄</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link active disabled"
          aria-current="page"
          href="<%= urlPrefix %>/rule"
          >玩法說明</a
        >
      </li>
    </ul>
  </div>
  <div class="p2"><%- color_btn %></div>
</div>

<div>
  <ol class="list-group list-group-flush">
    <li class="list-group-item">
      - 每月1號至月尾，可於<a href="<%= urlPrefix %>/"><b>抽獎頁面</b></a
      >進行當月抽獎<b>1</b>次。
    </li>
    <li class="list-group-item">
      - 當月抽獎必須於當月進行，如過期將會跳至下個月。
    </li>
    <li class="list-group-item">
      - 得獎金額會於特定范圍內，現時由 <i><%= min.toFixed(2) %></i> 至
      <i><%= max.toFixed(2) %></i> 。
    </li>
    <li class="list-group-item">
      - 在於<a href="<%= urlPrefix %>/hist"><b>記錄頁面</b></a
      >可瀏覽過去抽獎結果。
    </li>
  </ol>
</div>
